.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.comment-section {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #9db12b;
}

.comment-section h2 {
  text-align: center;
  margin-bottom: 10px;
}

.comment-section form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-section textarea {
  resize: none;
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-section button {
  align-self: flex-end;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.comment-section button:hover {
  background-color: #0056b3;
}

.comments {
  list-style-type: none;
  padding: 0;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #1a0303;
}

.comment strong {
  display: block;
  margin-bottom: 5px;
}

.comment span {
  display: block;
  background-color: #1f0404;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
