.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  width: calc(25% - 40px);
  margin: 20px;
  cursor: pointer;
  perspective: 1000px;
  position: relative;
  min-height: 350px;
}

.pokemon-card img {
  width: 175px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.content {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
}

.pokemon-card.flipped .content {
  transform: rotateY(180deg);
}

.pokemon-card-front,
.pokemon-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: auto;
}

.pokemon-card-back {
  transform: rotateY(180deg);
}

.pokemon-card h2, .pokemon-card p {
  margin: 5px;
  text-align: center;
  white-space: nowrap;
}

.pokemon-types {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemon-types.fire {
  background-color: #EE8130;
}

.pokemon-types.water {
  background-color: #6390F0;
}

.pokemon-types.grass {
  background-color: #7AC74C;
}

.pokemon-types.electric {
  background-color: #F7D02C;
}

.pokemon-types.psychic {
  background-color: #F85888;
}

.pokemon-types.ice {
  background-color: #96D9D6;
}

.pokemon-types.dragon {
  background-color: #7038F8;
}

.pokemon-types.dark {
  background-color: #705848;
}

.pokemon-types.fairy {
  background-color: #EE99AC;
}

.pokemon-types.fighting {
  background-color: #EE99AC;
}

.pokemon-types.poison {
  background-color: #A33EA1;
}

.pokemon-types.ground {
  background-color: #E2BF65;
}

.pokemon-types.flying {
  background-color: #A98FF3;
}

.pokemon-types.bug {
  background-color: #A6B91A;
}

.pokemon-types.rock {
  background-color: #B6A136;
}

.pokemon-types.ghost {
  background-color: #735797;
}

.pokemon-types.steel {
  background-color: #B7B7CE;
}

.pokemon-types.normal {
  background-color: #000000;
}

@media (max-width: 768px) {
  .pokemon-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .pokemon-card {
    width: calc(100% - 20px);
  }
}
