nav {
  padding: 10px;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar-item {
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-item a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #f0f0f0;
}

.navbar-item a:hover {
  color: #007bff;
}